@import url(themes.css);
@import url(animations.css);

*, *::after, *::after{
    box-sizing: border-box;
}

body,button {
    margin: 0;
    font-family: "Roboto", serif;
}

ul {
    margin: 0;
    padding: 0;
}

/* header styles start here */

.nav-contact {
    padding: 10px;

    background-color: var(--clr-white);
}
.l-nav-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button--contact {
    border: none;
    padding: 10px 20px;

    background-color: var(--clr-beige);
}
.dropdown__button img {
    width: 8px;
}

.contact__dropdown, .main__dropdown {
    display: inline-block;
    position: relative;
}

.dropdown__content {
    display: none;
    
    padding: 10px 20px;
    z-index: 1;

    background-color: var(--clr-beige);
}
.dropdown__content.is-active{
    display: block;
}

.contact__link {
    display: flex;
    align-items: center;

    gap: 20px;
    margin: 10px 0;

    text-decoration: none;

    color: var(--clr-cyan);
}

.contact__link:visited {
    color: var(--clr-cyan);
}

.contact__link__logo {
    width: 24px;
    height: 24px;    

    background-image: url(/Works/img/contact-sprite.png);
    background-size: cover;
}
.contact__link__logo--2 {
    background-position-y: 33.3%;
}
.contact__link__logo--3 {
    background-position-y: 66.6%;
}
.contact__link__logo--4 {
    background-position-y: 100%;
}


.nav-banner {
    background-image: url(/Works/img/Banner.png);
    padding: 6rem 0;
    background-size: cover;
    background-position-x: center;
}

.l-nav-main{
    display: flex;
    justify-content: end;
    align-items: center;

    background-color: var(--clr-cyan);
}

.button--main {
    border: 2px solid var(--clr-cyan);
    padding: 10px 24px;

    background-color: white;

    color: var(--clr-cyan);
}

.dropdown__content--main {
    padding: 0;
    position: absolute;
}

.nav-main a {
    text-decoration: none;
    display: flex;
    justify-content: left;
    color: var(--clr-cyan);
    background-color: white;
    padding: 8px 13px;
    border: 2px solid var(--clr-cyan);
}

.nav-main a:hover {
    background-color: var(--clr-cyan);
    color: white;
}