
*,*::before,*::after {
    box-sizing: border-box;
}

body {
    background-color: #00ffbf;
}

img {
    border-radius: 50%;
    border: 2px solid black;
} 

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.nav-main {
    padding: 12px;
}

.l-nav-main {
    display: flex;
    justify-content: space-between;
}

.nav-main__button {
    border: none;
    padding: 6px;   


    background-color: white;
    box-shadow: 0px 4px 0px 0px rgb(77, 115, 138);
}
.nav-main__button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px;
}

.nav-main__social a {
    padding: 4px;

    color: white;
    background-color: black;
}

.l-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.images {
    margin: 50px 0;
}

.images >* {
    margin: 15px 0;
}

img.rotate {
    animation: rotate 8s linear infinite;
}

img.rotate--reverse {
    animation: rotate 8s linear infinite reverse;
}

.nav-footer {
    padding: 12px;
}

.nav-footer__random {
    font-size: 24px;
}

.nav-footer >* {
    margin: 24px 0;
}