@import url(themes.css);
@import url(animations.css);

*, *::after, *::after{
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: auto auto;
}

body {
    background-color: var(--clr-beige);
}

body,button {
    margin: 0;
    font-family: "Roboto", serif;
}

ul {
    margin: 0;
    padding: 0;
}

/* header styles start here */

.nav-contact {
    padding: 10px;

    background-color: var(--clr-white);
}
.l-nav-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 615px) {
    .dropdown__button {
        display: none;
    }

    .dropdown__content {
        display: flex !important;
        position: relative !important;
    }

    .contact__dropdown__content {
        gap: 20px;
        background-color: white !important;
    }

    .contact__link {
        gap: 6px !important;
    }

    .nav-banner {
        background-image: url(/assets/img/Banner.png) !important;
        background-position-y: center;
        
        background-size: cover !important;
        background-repeat: no-repeat;
        padding: 12rem !important;
    }

    .dropdown__content--main {
        transform: skew(-8deg);
        margin-right: 8px;
    }

    .dropdown__content--main a {
        font-size: 1.5rem;
        padding: 16px 12px !important;
        background: var(--clr-cyan);

    }
    
}
@media (min-width: 1000px) {
    
    .nav-banner {
        background-image: url(/assets/img/banner-1400w.jpg) !important;
    }
}


.button--contact {
    border: none;
    padding: 10px 20px;

    background-color: var(--clr-beige);
}
.dropdown__button img {
    width: 8px;
}

.contact__dropdown, .main__dropdown {
    display: inline-block;
    position: relative;
}

.dropdown__content {
    display: none;
    position: absolute;
    padding: 10px 20px;
    z-index: 1;

    background-color: var(--clr-beige);
}
.dropdown__content.is-active{
    display: block;
}

.contact__link {
    display: flex;
    align-items: center;

    gap: 20px;
    margin: 10px 0;

    text-decoration: none;

    color: var(--clr-cyan);
}

.contact__link:visited {
    color: var(--clr-cyan);
}

.contact__link__logo {
    width: 24px;
    height: 24px;    

    background-image: url(/assets/img/contact-sprite.png);
    background-size: cover;
}
.contact__link__logo--2 {
    background-position-y: 33.3%;
}
.contact__link__logo--3 {
    background-position-y: 66.6%;
}
.contact__link__logo--4 {
    background-position-y: 100%;
}


.nav-banner {
    background-image: url(/assets/img/Banner.png);
    padding: 6rem 0;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.l-nav-main{
    display: flex;
    justify-content: end;
    align-items: center;

    background-color: var(--clr-cyan);
}

.button--main {
    border: 2px solid var(--clr-cyan);
    padding: 10px 24px;

    background-color: white;

    color: var(--clr-cyan);
}

.dropdown__content--main {
    padding: 0;
}

.nav-main a {
    text-decoration: none;
    display: flex;
    justify-content: left;
    color: var(--clr-cyan);
    background-color: white;
    padding: 8px 14px;
    border: 2px solid var(--clr-cyan);
}

.nav-main a:hover {
    background-color: var(--clr-cyan);
    color: white;
}

/* main styles start here */

main {
    font-size: 24px;
}

@media (min-width:1000px) {
    main .container,
    footer .container
    {
        width: 60%;
        margin: auto auto;
        background-color: white;
        padding: 1em;
    }
}

main h4 {
    color: var(--clr-cyan);
}

.main__image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
}
.main__image--2 {
    width: 200px;
    height: 200px;
}
@media (min-width: 600px) {
    .main__image {
        float: right;
    }
}